<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/index.css" />
  <title>SDF</title>
</head>
<body>

<img 
src="https://www.underconsideration.com/brandnew/archives/massmutual_logo_a.png" 
alt="massmutual" class="center" />

<div class="container">
  <a href="/log_services" class="block-1"><b>Get Log Details</b></a>
  <a href="jmh_details" class="block-2"><b>Get JMH Details</b></a>
  <a href="mft_details" class="block-4"><b>Get MFT Details</b></a>
  <a href="session_details" class="block-3"><b>Get Session Details</b></a>
</div>
</body>
</html>